/*
CSS Default Browser Values
*/
body{
    background-color: #9fd8df; 
  }
  /*Tag Selectors*/
  hr{
    background-color: white;
    border-style: none;/*height*/
    border-top-style: dotted; 
    border-color: grey;
    border-width: 5px;
    width: 10%;
  }
  h1{
      color: rgb(141, 9, 9);
      font-size: 50px;
  }
  h3{
      color: rgb(124, 16, 16);
  }
  img:hover{
      background-color: gold;
  }/*Pseudo Class*/

  /*Class Selectors*/
  .Rishi
  {
      background-color: lawngreen;
  }
  .Divs
  {
      background-color: red;
  }
  .Cute{
      border-radius: 100%;
  }
  /*Id > Class > Tag Selector{Priority}*/
  /*Class => Can be used in multiple places + Mutiple classes can be present together - ID => Can be used just once + Just 1 ID*/
